<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contacts">Contacts</a>
    </nav>
    <!-- EJS -->
    <!-- <% const name = 'Stephen' %> -->

    <!-- Rendered through node -->

    <h1>Hello, <%= user[0].userName %></h1>
    <h2>Location: <%= user[0].location %></h2>
    <h1>Hello, <%= user[1].userName %></h1>
    <h2>Location: <%= user[1].location %></h2>
</body>
</html>